<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Calendar working</h1>
  <form method="post" action="">
    {{ form.csrf_token() }}
    <p>Name {{form.name}}</p>
    <p>Start {{form.start_date}} {{form.start_time}}</p>
    <div>
      {{ form.end_date.label }} {{ form.end_date }} {{form.end_time}}

      {% if form.end_date.errors %}
        <ul class="errors">
          {% for error in form.end_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
    <p>Description {{form.description}}</p>
    <p>Private? {{form.private}}</p>
    <p>{{form.submit}}</p>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <!-- loop here to create rows -->
       {% for row in rows %}
       <tr>
        <td>{{ row[1] }}</td>
        <!-- use strftime to format date objects -->
        <td>{{ row[2].strftime("%H:%M") }}</td>
        <td>{{ row[3].strftime("%H:%M") }}</td>
       </tr>
       {% endfor %}
    </tbody>
  </table>
</body>
</html>
